/*Custom css for rmarkdown xaringa. 
A.Bailey 28th November 2018 */
/* Let's load some fonts */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);

/* Generic stuff 

.remark-code { font-family: 'Ubuntu Mono'; font-size: 55}
.remark-inline-code { font-family: 'Ubuntu Mono'; font-size: 30}*/

body { font-family: 'Open Sans'; }

.grViz {
  margin-left:auto; margin-right:auto; display:block;
}

/* Pretty sure this is all me messing with the title slide */

.inverse h1 {
    line-height: 0.5em;
}

/*
.title-slide hgroup > h1 {
  font-family: 'Open Sans', sanserif;
}
*/

/* line 888, ../scss/default.scss 
.title-slide hgroup {
  bottom: 100px;
}
/* line 891, ../scss/default.scss 
.title-slide hgroup h1 {
  font-size: 200px;
  line-height: 1.4;
  letter-spacing: -3px;
  color: #E1E8EC;
}
/* line 898, ../scss/default.scss 
.title-slide hgroup h2 {
  font-size: 100px;
  color: #E1E8EC;
  font-weight: inherit;
}
/* line 904, ../scss/default.scss 
.title-slide hgroup p {
  font-size: 100px;
  color: #E1E8EC;
  line-height: 1.3;
  margin-top: 2em;
}
*/

div.remark-slide-container h2 {
	font-family: 'Open Sans', sans-serif;
	color: #E1E8EC;
	letter-spacing: -1px;
	font-size: 20px
}

div.remark-slide-container h3 {
	font-family: 'Open Sans', sans-serif;
	color: #E1E8EC;
	letter-spacing: -1px;
	font-size: 18px;
	padding-top: 50px
}

.title-slide {
	font-family: 'Open Sans', sans-serif;
	background-color: #005C84;
   	background-image: url(UoS_Logo.svg);
	background-position: left 20px top 20px;
	background-size: 300px 75px;
}

.title-slide .remark-slide-number {
  display: none;
}

.title-slide > h1  {
  font-size: 80px;
  text-shadow: none;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: -3px;
}

/* Control author size */
.title-slide > h3:nth-of-type(1) {
  font-size: 30px;
  font-weight: 400;
}

/* Control data size */
.title-slide > h3:nth-of-type(2) {
  font-size: 20px;
  font-weight: 400;
}

/* Hmm. How about the slide number. */
.remark-slide-number {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #522D80;
}

/* Let's play with .inverse and a new class, .fullscale, a little more */

.inverse {
    color: #fafafa;
    text-shadow: 0 0 0px #333;
}

div.remark-slide-container .fullscale {
    color: #d6d6d6;
    text-shadow: 0 0 20px #333;
}

div.remark-slide-container .fullscale h1 {
	color: #fff;

}

div.remark-slide-container .fullscale p {
	color: #000;

}

/* Set font size for slides here */
.remark-slide-content {
	font-size: 30px;
	text-shadow: 0 0 0px #333;

}

.remark-code, .remark-inline-code {
  font-family: 'Ubuntu Mono';
  font-size: 100%;
}
